<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wildfly servers</title>


    <link href="/styles/default.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <h3 style="color:black; font-weight:bold" class="text-muted">List of Wildfly servers</h3>
        </div>
        <hr>

        <div class="jumbotron">
            <h1>Instances</h1>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <button><a  href="/ST">ST</a></button>
            </div>

            <div class="col-lg-6">
                <button><a  href="/TA">TA</a></button>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Aleksei Sharapov@t-systems.com</p>
        </footer>

    </div>
</body>

</html>