        <div class="row marketing">
            <div class="col-lg-6">
                <hr>
                <h4>wildfly_st1</h4>
                <p>NONE</p>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>wildfly_st2</h4>
                <a href="http://tmv2339.devlab.de.tmo:18080/eCare/">tmv2339.devlab.de.tmo:18080/eCare</a>
                <p>{{ b }}</p>>
                <p>SCHEMA_8</p>
                <hr>

                <hr>
                <h4>wildfly_st3</h4>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>wildfly_st4</h4>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>wildfly_st5</h4>
                <p>{{ c }}</p>>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>wildfly_st6</h4>
                <p>{{ response_st7 }}</p>>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>wildfly_st7</h4>
                <a href="http://tmv1934.devlab.de.tmo:8080/eCare/">tmv1934.devlab.de.tmo:8080/eCare</a>
                <p>{{ a }}</p>>
                <p>{{ d }}</p>>
                <p>{{ f }}</p>
                <p>SCHEMA_9</p>
                <hr>

            </div>
        </div>
