            <div  class="col-lg-6">
                <hr>
                <h4>Wildfly TA1</h4>
                <a href="http://10.105.70.195:10001">10.105.70.195:10001</a>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>Wildfly TA3</h4>
                <p>NONE</p>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>Wildfly TA4</h4>
                <p>NONE</p>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>Wildfly TA5</h4>
                <p>NONE</p>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>Wildfly TA6</h4>
                <a href="http://10.105.70.195:10006/">10.105.70.195:10006/</a>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>Wildfly TA7</h4>
                <p>NONE</p>
                <p>DBS</p>
                <hr>

                <hr>
                <h4>Wildfly TA8</h4>
                <a href="http://10.105.70.198:10008/">10.105.70.198:10008</a>
                <p>DBS</p>
                <hr>

            </div>